.fadeIn {
  @apply transition-all opacity-0 duration-1000;
}

.loaded {
  @apply opacity-100;
}

.card {
  @apply flex
    flex-col
    justify-center
    items-center
    text-white
    shadow-md
    w-full
    h-full
    rounded-md
    transition
    duration-500
    overflow-hidden
    bg-cover
    bg-center
    bg-no-repeat
    p-6
    text-center;
}

.card:hover {
  @apply shadow-md;
  transform: translateY(-3px) scale(1.01);
}

.cardHeader {
  @apply text-3xl pb-2;
}

.basicGrid {
  @apply grid gap-4;
  grid-template-columns: repeat(auto-fill, minmax(25%, 2fr));
}

.redCard {
  background-color: ;
}

.quillText {
  @apply text-center text-8xl font-mono py-5;
}

@media only screen and (max-width: 700px) {
  .quillText {
    @apply text-5xl;
  }
  .card {
    @apply text-base;
  }
  .cardHeader {
    @apply text-lg pb-2;
  }

  .basicGrid {
    @apply grid;
    grid-template-columns: repeat(auto-fill, minmax(100%, 2fr));
  }
}
